.booking-form fieldset{
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: .5rem 2%;
}

.booking-form legend{
    padding: 0 .5rem;
}

.booking-form label{
    display: block;
    padding-top: 1rem;
}

.booking-form div{
    padding-top: 1rem;
}