:root {
    --link1: #157493;
    --link2: #006184;
}

* {
    font-family: Lato, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: var(--link1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ----- HEADER ----- */

header{
    margin-bottom: 1rem;
    
}

#mobile-nav{
    display:none;
}
.nav-row {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    height: 60px;
}

.logos-row { 
    display:flex;

}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 75px;
    width: 55px;
    background-color: #007da5;    
}

#chirst-logo{
    height: 40px;
    width: auto;
}

.rays {
    height: 75px;
    width: auto;
}

.nav-list{
    grid-column: 3/4;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}



/* ----- MAIN ----- */

main, footer{
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem;
}

h1,
h2 {
    font-family: Montserrat, sans-serif;
    padding: 1rem 0;
}
 .title{
    font-size: 48px;
    margin-bottom: 3rem;
 }


.temple-layout{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-around;
    padding: 1rem 0;
}

.button1,
.button2 {
    width: 300px;
    min-width: 150px;
    text-align: center;
    display: block;
    box-sizing: border-box;
}
.button1 {
    outline: 1px solid var(--link2);
    background-color: var(--link2);
    color: white;
    padding: 1rem;
    border-radius: 1px;
}

.button1:hover {
    background-color: var(--link1);
    text-decoration: underline;
}

.button2 {
    outline: 1px solid var(--link1);
    border-radius: 1px;
    padding: 1rem;
}

.button2:hover {
    outline: 2px solid var(--link1);
}

.contact {
    display:block;

}

.dates{
    padding: 1rem 0;
}

.dates li{
    padding: .2rem;
}

/* ----- FOOTER ----- */

.social_pages {
    display: flex;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.social_pages p,
.social_pages a{
    display: flex;
    align-items: center;
    height: 25px;
    padding: 2px;
    width: auto;


}

.socials img {
    width: auto;
    height: 25px;
}

#all-socials{
    color: black
}

.copyright {
    text-align: center;
}




