:root {
    --link1: #157493;
    --link2: #006184;
}

* {
    font-family: Lato, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: var(--link1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ----- HEADER ----- */

header{
    margin-bottom: 1rem;
    
}

#mobile-nav{
    display:none;
}
.nav-row {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    height: 60px;
}

.logos-row { 
    display:flex;

}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 75px;
    width: 55px;
    background-color: #007da5;    
}

#chirst-logo{
    height: 40px;
    width: auto;
}

.rays {
    height: 75px;
    width: auto;
}

.nav-list{
    grid-column: 3/4;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}



/* ----- INDEX ----- */

main, footer{
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem;
}

h1,
h2 {
    font-family: Montserrat, sans-serif;
    padding: 1rem 0;
}
 .title{
    font-size: 48px;
    margin-bottom: 3rem;
 }


.temple-layout{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-around;
    padding: 1rem 0;
}

.button1,
.button2 {
    width: 300px;
    min-width: 150px;
    text-align: center;
    display: block;
    box-sizing: border-box;
}
.button1 {
    outline: 1px solid var(--link2);
    background-color: var(--link2);
    color: white;
    padding: 1rem;
    border-radius: 1px;
}

.button1:hover {
    background-color: var(--link1);
    text-decoration: underline;
}

.button2 {
    outline: 1px solid var(--link1);
    border-radius: 1px;
    padding: 1rem;
}

.button2:hover {
    outline: 2px solid var(--link1);
}

.contact {
    display:block;

}

#temple{
    margin: 1rem;
    max-width: 100%;
}
.dates{
    padding: 1rem 0;
}

.dates li{
    padding: .2rem;
}

/* ----- FORM ----- */

.booking-form fieldset{
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: .5rem 2%;
}

.booking-form legend{
    font-weight: bold ;
    padding: 0 .5rem;
}

.booking-form label{
    display: block;
    padding-top: 1rem;
}

.booking-form div{
    padding-top: 1rem;
}

.booking-form input[type="text"],
.booking-form input[type="tel"],
.booking-form input[type="email"],
.booking-form input[type="date"]
{
    display: block;
    border: solid 1px #888;
    border-radius: 1px;
    padding: .75rem;
    width: 100%;
    max-width: 300px;
}

.booking-form input[type="radio"]{
    margin-right: 6px;
}

.booking-form input[type="submit"]{
    border: none;
    font-size: 18px;
    background-color: var(--link2);
    color: #fff;
    border-radius: 1px;
    padding: .8rem;
    width: 96%;
    max-width: 324px;
    margin: -1rem 2% 2rem 2%;
}

.booking-form input[type="submit"]:hover {
    background-color: var(--link1);
    text-decoration: underline;
}

.booking-form input:required{
    border-right: solid 2px red;
}

.booking-form input:required:valid{
    border-right: solid 2px green;
}






/* ----- FOOTER ----- */

.social_pages {
    display: flex;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.social_pages p,
.social_pages a{
    display: flex;
    align-items: center;
    height: 25px;
    padding: 2px;
    width: auto;


}

.socials img {
    width: auto;
    height: 25px;
}

#all-socials{
    color: black
}

.copyright {
    text-align: center;
    padding: .5rem;
}




