*{
    font-family: Lato, sans-serif;
}

body{
    box-sizing: border-box;
}

header, footer{
    text-align: center;
    margin: 2rem 0;
    padding: .5rem;
    background-color: peachpuff;
    border-radius: 6px;
}

main p{
    background-color: rgb(248, 229, 211);
    margin: 2rem 0;
    padding: .5rem;
    background-color: rgb(248, 229, 211);
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;

}

.wf1 {
    margin: 2rem 0;
    padding: .5rem;
    background-color: rgb(248, 229, 211);
    border-radius: 6px;
}

.wf1 label, 
.wf1 div
{
    display: block;
    padding: 1rem 0.5rem 0;
    font-size: .9rem;

}

.wf1 .cursive{
    padding-top: 0;
    font-style: italic;
}

.wf1 input[type=text],
.wf1 input[type=textarea],
.wf1 input[type=date],
.wf1 select
{
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 200px;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    padding: .75rem;
    border-radius: 6px;
    width: 100%;
    max-width: 200px;
    border: 1px solid #999;
    background-color: #157493;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}


