:root{
    --blue: #0768A9;
    --yellow: #FFCC00;
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, sans-serif;
    text-align: center;
    display:flex;
    flex-direction: column;

}

header h1{
    background-color: var(--yellow);
    font-size: 3em;
    padding: 0.5em;
    border-bottom: 0.5em solid var(--blue);
}

ul{
    list-style: none;
}

.hero img {
    width: 100%;
    height: auto;
}

div{
    padding: 1em;
}

footer{
    padding: 1em;
    background-color: var(--yellow);
}

@media screen and (min-width: 1000px) {

    .hero img{
        position: relative;
        width: 100%;
        height: auto;
    }

    .data{
        position: absolute;
        top: 10em;
        left: 6em;
    }

    div{
        background-color: rgba(255, 255, 255, 0.5);
        width: 300px;
        padding: 0.5em;
    }

    div h2{
        color: white;
        background-color: var(--blue);
        text-align: left;
        padding:0.2em;
        padding-left: 1em;
    }

    div ul{
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    .weather{
        position: absolute;
        bottom: 8em;
        right: 6em;
    }

    .weather h2::after{
        content:' 🌤️';
    }
    .weather img{
        display: none;
    }
}