@media screen and (min-width: 1000px) {
    
    html,
    body{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .hero img{
        position: relative;
    }

    .data{
        position: absolute;
        top: 8em;
        left: 6em;
    }

    .weather{
        position: absolute;
        bottom: 8em;
        right: 6em;
    }
}