@media (min-width: 800px) {
    .navigation{
        flex-direction: row;
    }

    .navigation a{
        display:block;
    }

    #menu{
        display: none;
    }
    
    #album{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}